<h1 style="font-weight: bold; text-transform: capitalize;">🧑‍💻 {{ pseudo.value }}</h1>
<a class="icon-bar" (click)="openSelectFiles()">
    <div class="icon-text-bar">
        <i class="material-icons">search</i>Ouvrir
    </div>
</a>
<a class="icon-bar" (click)="openSaveFiles()">
    <div class="icon-text-bar">
        <i class="material-icons">save</i>Nouveau
    </div>
</a>
<a class="icon-bar" (click)="openRemoveFiles()">
    <div class="icon-text-bar">
        <i class="material-icons">delete</i>Supprimer
    </div>
</a>

<div class="bg-modal">
    <div class="modal-contents">
        <div class="close" (click)="closeUnsaveFiles()">+</div>
        <form action="">
            <div class="popupTitle">Créer un nouveau fichier</div>
            <input type="text" id="submitSaveInput" placeholder="Nom du fichier">
            <a href="#" id="submitSaveButton" (click)="closeSaveFiles()" class="button" style="margin-left: 0px;">Valider</a>
        </form> 
    </div>
</div>

<div class="bg-modal2">
    <div class="modal-contentsbis">
        <div class="close2" (click)="closeSelectFiles()">+</div>
        <form action="" style="height: inherit;">
            <div class="popupTitle" style="margin-bottom: 30px">Sélectionnez un fichier</div>
            <div style="overflow: hidden; overflow-y: scroll; height: 360px;">
                <div class="doc_grid" id="grid">
                    <div *ngIf="allFiles !== undefined">
                        <div *ngFor="let file of allFiles.data">
                            <a (click)="clickFilename(file.filename)">
                                {{ file.filename }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-modal3">
    <div class="modal-contentsbisbis">
        <div class="close3" (click)="closeRemoveFiles()">+</div>
        <form action="" style="height: inherit;">
            <div class="popupTitle" style="margin-bottom: 30px">Choisissez un fichier à supprimer</div>
            <div style="overflow: hidden; overflow-y: scroll; height: 360px;">
                <div class="doc_grid2" id="grid2">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-modal-login">
        <form (ngSubmit)="onSubmitLogin(pseudo)" style="border: 1px solid white; padding: 30px; border-radius: 40px;">
            <div class="popupTitle loginTitle">Bienvenue !</div>
            <input type="text" id="loginInput" placeholder="Pseudo" name="pseudo" ngModel required #pseudo="ngModel">
            <button id="loginButton" type="submit" class="button">Valider</button>
        </form>
</div>

<div class="bg-modal-filename">
    <form (ngSubmit)="onSubmitFilename(filename)" style="border: 1px solid white; padding: 30px; border-radius: 40px;">
        <div class="popupTitle loginFilename">Choisissez un fichier</div>

        <div *ngIf="allFiles !== undefined">
            <div *ngFor="let file of allFiles.data">
                <a (click)="clickFilename(file.filename)">
                    {{ file.filename }}
                </a>
            </div>
        </div>
        <input type="text" placeholder="Filename" name="filename" ngModel required #filename="ngModel">
        <button id="filenameButton" type="submit" class="button" style="margin-left: 150px;">Valider</button>
    </form>
</div>