<div class="versionning">
  <h1 style="font-size: 20px; width: 60%; margin-left: 95px">
    Historique de modification du fichier en base de données
  </h1>
  <div class="version_box">
    <div class="versio_grid" id="versio_grid">
        
    </div>
  </div>
</div>
<div style="width: 65%; margin-top: 30px;">
  <h1>Document collaboratif</h1>
  <textarea
    style="width: 90%; height: 450px;"
    id="textarea1"
    placeholder="Ecrivez ici..."
    name="textarea"
    (ngModelChange)="keyPress($event)"
    [(ngModel)]="text"
  ></textarea>
</div>
