<h1>Document collaboratif</h1>
<textarea id="textarea" placeholder="Ecrivez ici..." name="textarea" (ngModelChange)="keyPress($event)" [(ngModel)]="text"></textarea>

<div class="versionning">
    <div style="margin: inherit; margin-bottom: 20px; font-family: sans-serif;">
        Historique de modification du fichier en base de données
    </div>
    <div style = "overflow: hidden; overflow-y: scroll; height: 285px;">
        <div class="versio_grid" id="versio_grid">
        </div>
    </div>
</div>